
<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details</h2>
  <div><label>Id:
    {{user.id}}
  </label>
</div>
<div>
  <label>Name:
    {{user.name}}
  </label>
</div>
<div><label>Address:</label> 
<div>
  <label>Street:
    {{user.street}}
  </label>
</div>
<div>
  <label>Suite:
    {{user.suite}}
  </label>
</div>
<div>
  <label>City:
    {{user.city}}
  </label>
</div>
<div>
  <label>Zipcode:
    {{user.zipcode}}
  </label>
</div>
<div>
  <label>Latitude:
    {{user.lat}}
  </label>
</div>
<div>
  <label>Longitude:
    {{user.lng}}
  </label>
</div>
</div>
</div>
