
<h2>Users List</h2><div>sandman</div>
<div *ngIf="userObs$ | async as users; else loadingOrError">
<ul class="users">
  <li *ngFor="let user of users" (click)='onSelect(user)'  [class.selected]="user === selectedUser">
    <span class="badge">{{user.id}}</span> {{user.name}}
  </li>
</ul>
</div>
<app-user-detail [user]="selectedUser"></app-user-detail>

<ng-template #loadingOrError>
  <div *ngIf="errorObject">
    Error loading the list of users. Please try again later.
  </div>
</ng-template>
<div>tp tapi</div>
<button type="button" class="btn btn-primary float-right cs-button-top" (click)="showTable()" id="searchButton">Show users</button>
<div class="col-md-12 col-sm-12" *ngIf="isviewTable">
  <div class="col-md-12 col-sm-12">
    <div class="table-responsive table-striped">
      <table class="table">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of pageResults">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.city}}</td>
            <td name="editButton">
              <a class="text-primary">{{ 'announcements.AnchorEdit' | translatetp }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    	<!-- Pagination -->
      <app-pagination-comp [dataSet]="clientSearchResult" [pageSize]="3" (getPageResult)="getPageResult($event)"></app-pagination-comp>
     
  </div>
</div>